body{
	align-content:	center;
	font-family:	Arial;
}

hr{
	margin-top:	0;
	width:	566px;
	size:	4px;
	color:	#3E5F80;
}

a{
	text-decoration:none;
}

#wrap{
	align-self:	center;
	width:	828px;
	height:	1472px;
	border-color:	#3E5F80;
	border-width:	2px;
	border-style:	solid;
	margin:	auto;
	font-family:	Arial;
}

#login_top{
	display:	table;
	width:	824px;
	height:	706px;
	background:	#3E5F80;
	margin:	0;
}

#login_title{
	display:	table-cell;
	font-size:	62px;
	color:	white;
	vertical-align:	middle;
	text-align:	center;
}

#login_bottom{
	display:	table;
	width:	824px;
	height: 766px;
}

#login_form{
	display:	table-cell;
	vertical-align:	middle;
	text-align:	center;
}

#join_form{
	display:	table-cell;
	vertical-align:	middle;
	text-align:	center;
}

#create_account_form{
	display:	table-cell;
	vertical-align:	middle;
	text-align:	center;
}

#common_top{
	display:	table;
	width:	828px;
	height:	362px;
	background:	#3E5F80;
	margin:	0;
}

#common_title{
	margin-top:	179px;
	font-size:	62px;
	color:	white;
	text-align: center;
}

#home_button{
	cursor:	pointer;
	display:	table-cell;
	margin-top: 72px;
	font-size:	40pt;
	color:	#3E5F80;
	text-align:	center;
	vertical-align:	middle;
}

#common_bottom{
	display:	table;
	width:	828px;
	height: 1110px;
}

#common_nav{
	display:	table;
	width: 824px;
	height: 200px;
	margin:	0;
}

#common_account{
	display:	table;
	width:	824px;
	height: 100px;
 	text-align: center;
 	margin-bottom: 30px;
}

#common_content{
	display:	table;
	width:	824px;
	height: 1028px;
	text-align: center;
	font-size: 28pt;
}

#common_footer{
	cursor:	pointer;
	display:	table-cell;
	width:	824px;
	height:	110px;
	background-color: #3E5F80;
	color:	white;
	font-size: 30px;
	vertical-align:	middle;
	text-align:	center;
}

#common_blank{
	display:	table-cell;
	width:	824px;
	height:	110px;
	color:	#3E5F80;
	font-size: 30px;
	vertical-align:	middle;
	text-align:	center;
}

#backward_arrow{
	cursor:	pointer;
	margin-left: 40px;
	margin-top:	40px;
}

#backward_arrow_color{
	cursor:	pointer;
	display: table-cell;
	vertical-align:	middle;
	text-align:	center;
}

#add_account{
	cursor:	pointer;
	display:	table-cell;
	vertical-align:	middle;
	text-align:	center;
}

#join_id{
	margin-bottom:	10px;
}

#join_passwd_repeat{
	margin-bottom:	10px;
}

#join_passwd_check{
	color: red;
	text-align: left;
	margin-left:	160px;
	font-size:	26px;
}

#join_id_check{
	color: red;
	text-align: left;
	margin-left:	160px;
	font-size:	26px;
}

#select_account{
	width:	720px;
	height: 100px;
}

#my_account_content{
	display:	table;
	width:	720px;
	height:	694px;
	border-style:	solid;
	border-width: 2px;
	border-color:	#3E5F80;
	margin-left:	54px;
	margin-right:	54px;
}

#my_deal_content{
	display:	table;
	width:	720px;
	height:	960px;
	border-style:	solid;
	border-width: 2px;
	border-color:	#3E5F80;
	margin-left:	54px;
	margin-right:	54px;
}


#my_account_iframe{
	width:	716px;
	height:	694px;
	border-style:	none;
	padding:	0px;
	margin:	0px;
	font-family:	Arial;
}

#my_deal_iframe{
	width:	716px;
	height:	960px;
	border-style:	none;
	padding:	0px;
	margin:	0px;
}

#stock_content{
	display:	table;
	background-color: blue;
	color:	#3E5F80;
	width:	720px;
	height:	800px;
	margin-left:	54px;
	margin-right:	54px;
}

#stock_name{
	display:	table;
	width:	720px;
	height: 60px;
	font-size:	30px;
	margin-left:	54px;
	margin-right:	54px;
}

#stock_name_value{
	color:	#3E5F80;
	display:	table-cell;
	width:	720px;
	height: 60px;
	font-size:	30px;
	vertical-align: middle;
}

#stock_price{
	display:	table;
	width:	720px;
	height:	60px;
	font-size:	86px;
	
	margin-left:	54px;
	margin-right:	54px;
}

#stock_price_value{
	display:	table-cell;
	width:	720px;
	height:	60px;
	font-size:	86px;
	vertical-align: middle;
}

#detail_info{
	display:	table;
	width:	720px;
	height:	400px;
	font-size:	30px;
	margin-left:	54px;
	margin-right:	54px;
}

.blank_input{
	width:	590px;
	height:	76px;
	border-color:	#3E5F80;
	border-width:	4px;
	border-radius: 100px;
	border-style:	solid;
	font-size: 28px;
	padding-left:	48px;
	margin-top:	24px;
	margin-bottom: 24px;
}

.search_input{
	width:	600px;
	height:	76px;
	border-color:	#3E5F80;
	border-width:	2px;
	border-style:	solid;
	font-size: 28px;
	padding-left:	48px;
	margin-top:	24px;
	margin-bottom: 24px;
}

.detail_input{
	width:	200px;
	height:	50px;
	border-color:	#3E5F80;
	border-width:	2px;
	border-style:	solid;
	font-size: 28px;
	text-align: center;
}


.input{
	width:	590px;
	height:	76px;
	color:	white;
	background-color:	#3E5F80;
	border-color:	#3E5F80;
	border-radius: 100px;
	border-style:	solid;
	font-size: 40px;
	margin-top:	24px;
	margin-bottom: 24px;
}

.input:hover{
	background:	#466c92;
	border-color:	#466c92;
}

.search_button{
	width:	100px;
	height:	74px;
	margin-left:	10px;
	border-color:	#3E5F80;
	border-width:	2px;
	border-style:	solid;
	font-size: 28px;
	background-color: white;
}

.search_button:hover{
	background:	#C8DFF5;
}

.buy{
	width:	310px;
	height:	96px;
	color:	white;
	background-color:	#3E5F80;
	border-color:	#3E5F80;
	border-style:	solid;
	font-size: 60px;
	margin-right: 30px;
}

.buy:hover{
	background:	#466C92;
	border-color:	#466C92;
}

.sell{
	width:	310px;
	height:	96px;
	color:	#3E5F80;
	background-color:	white;
	border-color:	#3E5F80;
	border-style:	solid;
	font-size: 60px;
	margin-left:	30px;
}

.sell:hover{
	background:	#C8DFF5;
}

.common_line{
	display:	table;
	color:	#3E5F80;
	width:	716px;
	height:	120px;
	margin-left:	54px;
	margin-right:	54px;
}

.detail_line{
	display:	table;
	color:	#3E5F80;
	width:	720px;
	height:	100px;
}


.left{
	display:	table-cell;
	text-align: left;
	width: 358px;
	height:	120px;
}

.right{
	display:	table-cell;
	text-align: left;
	width: 358px;
	height:	120px;
	padding-left: 12px;
}

.detail_left{
	text-align: left;
	vertical-align: middle;
	display:	table-cell;
	text-align: left;
	width: 358px;
	height:	100px;
	padding-left:	30px;
}

.detail_middle{
	text-align:	center;
	vertical-align: middle;
	display:	table-cell;
	width: 300px;
	height:	100px;
}

.detail_right{
	text-align:	right;
	vertical-align: middle;
	display:	table-cell;
	padding-right:	30px;
	width: 58px;
	height:	100px;
}

.full{
	display:	table-cell;
	text-align: left;
	width: 716px;
	height:	120px;
}

.number_box{
	display:	table-cell;
	width: 346px;
	height:80px;
	text-align: center;
	vertical-align: middle;
	border-style: solid;
	border-width:	2px;
	border-radius: 8px;
	border-color:	#3E5F80;
}

.number_box:hover{
	background:	#9CC4EA;
	border-color:	#466c92;
}

.item_name{
	padding-left:	10px;
	margin-bottom: 10px;
	font-size: 26px;
}

.top3{
	margin-bottom: 10px;
	font-size: 26px;
	padding-left:	10px;
}

.top3_up{
	display:	table-cell;
	width: 232px;
	height:80px;
	text-align: center;
	vertical-align: middle;
	border-style: solid;
	border-width:	2px;
	border-radius: 8px;
	border-color:	#3E5F80;
	cursor: pointer;
}
.top3_up:hover{
	background:	#9CC4EA;
	border-color:	#466c92;
}

.top3_down{
	display:	table-cell;
	width: 234px;
	height:80px;
	text-align: center;
	vertical-align: middle;
	border-style: solid;
	border-width:	2px;
	border-radius: 8px;
	border-color:	#3E5F80;
	cursor: pointer;
}
.top3_down:hover{
	background:	#9CC4EA;
	border-color:	#466c92;
}

.top3_blank{
	display:	table-cell;
	width: 10px;
	height:80px;
}

.my_account_name{
	width:	160px;
	height:	40px;
	display: table-cell;
	font-size:	28px;
}

.my_account_value{
	width:	198px;
	height:	40px;
	display: table-cell;
	text-align: right;
	font-size: 28px;
}

.radiobtn{
	font-size: 20px;
}

/**** 드롭다운 부분 ****/
.dropbtn {
    border-color: #3E5F80;
	border-style:	solid;
	background-color: white;
	width:	720px;
	height:	100px;
	font-size: 28pt;
	color:	#3E5F80;
	text-align:	left;
	padding-left:	40pt;
	padding-bottom: 0;
	padding-top:	0;
	cursor:	pointer;
}

.dropbtn:hover{
	background:	#C8DFF5;
}

.ajax_1{
	color:#3E5F80;
}
.ajax_2{
	color:#68abee;
}

/*
.dropbtn:hover .dropbtn:focus {
    background-color: #9CC4EA;
}
*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    font-size: 20pt;
    background-color: #bfdffa;
    min-width: 720px;
    box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
    opacity:	0.95;
}

.dropdown-content a {
    color: black;
    padding: 24px 32px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #9CC4EA}

.show{
	display:block;
}
