body{
	font-family:	Arial;
	text-align: center;
	align-content: center;
	font-size:	25px;
	color: #3E5F80;
}

.frame_line{
	display:	table;
	vertical-align: middle;
	align-content: center;
	width:	100%;
	height: 50px;
}

.my_account_stock_name{
	display:table-cell;
	vertical-align: middle;
	width: 25%;
	height: 100%;
	cursor: pointer;
}
.my_account_stock_name:hover{
	background-color: #d8eefa;
	color:	#3E5F80;
}

.my_account_stock_quantity{
	display:table-cell;
	vertical-align: middle;
	width: 20%;
	height: 100%;
}

.my_account_stock_price{
	display:table-cell;
	vertical-align: middle;
	width: 25%;
	height: 100%;
}

.my_account_stock_total{
	display:table-cell;
	vertical-align: middle;
	width: 30%;
	height: 100%;
}

.my_account_search_stock{
	display:table-cell;
	vertical-align: middle;
	width: 50%;
	height: 100%;
}

.my_account_search_link{
	display:table-cell;
	vertical-align: middle;
	width: 50%;
	height: 100%;
	cursor:	pointer;
}

.my_account_search_link:hover{
	background-color: #d8eefa;
	color:	#3E5F80;
}

.my_deal_time{
	display:table-cell;
	vertical-align: middle;
	width: 20%;
	height: 100%;
}

.my_deal_stock_name{
	display:table-cell;
	vertical-align: middle;
	width: 30%;
	height: 100%;
	cursor: pointer;
}
.my_deal_stock_name:hover{
	background-color: #d8eefa;
	color:	#3E5F80;
}

.my_deal_quantity{
	display:table-cell;
	vertical-align: middle;
	width: 20%;
	height: 100%;
}

.my_deal_price{
	display:table-cell;
	vertical-align: middle;
	width: 20%;
	height: 100%;
}

.my_deal_what{
	display:table-cell;
	vertical-align: middle;
	width: 10%;
	height: 100%;
}

